node_modules
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
*.md
Dockerfile*
docker-compose*
.husky
.vscode
.idea
test
*.spec.ts
*.e2e-spec.ts
npm-debug.log*
pnpm-debug.log*
package-lock.json
.DS_Store
